@{
    ViewData["Title"] = "Home Page";
}
<div action="container-responsive">
    <p> Greater Sudbury, ON</p>

    <div style="border:1px solid red;">
        <div class="row">
            <div class="col-md-4"><i class="fa-fas-cloud"></i></div>
            <div class="col-md-8">
                <p>Date: 9:44 AM EST, Tuesday, 24 October 2019</p>
                <p>Current condition: Appears to Rain</p>
                <p>Spell : Humidity</p>
                <p> Looks like it is going to rain however I am not sure why it rains. I am sure it aint raining for no reason. </p>
            </div>
        </div>
        <div class="row"></div>
    </div>
</div>

<p id="location">Current Location</p>




<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition, showError);     
        } else {
            document.getElementById("location").innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        document.getElementById("location").innerHTML = "Latitude: " + latitude + "<br>Longitude: " + longitude;
    }

    function showError(error) {
        switch (error.code) {
            case error.PERMISSION_DENIED:
                document.getElementById("location").innerHTML = "User denied the request for Geolocation.";
                break;
            case error.POSITION_UNAVAILABLE:
                document.getElementById("location").innerHTML = "Location information is unavailable.";
                break;
            case error.TIMEOUT:
                document.getElementById("location").innerHTML = "The request to get user location timed out.";
                break;
            case error.UNKNOWN_ERROR:
                document.getElementById("location").innerHTML = "An unknown error occurred.";
                break;
        }
    }

    // Call the function to get the user's location
    getLocation();


</script>







